* {
    box-sizing: border-box;
}

#accordeon {
    width: 99%;
    border: 10px solid #032f68;
    box-shadow: 0 0 10px #580000;
    border-radius: 10px;
    margin: 10px;
}

.acc-head {
    padding: 5px 10px;
    background: #767633;
    cursor: pointer;
    text-align: center;
}

.acc-body {
    padding: 10px;
    border-bottom: 1px solid #003474;
    margin-bottom: 5px;
    display: none;
    text-align: center;
}